.env
fonts-DSEG_v046.zip
fonts-DSEG_v046/DSEG-LICENSE.txt
fonts-DSEG_v046/README.md
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Bold.ttf
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Bold.woff
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Bold.woff2
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-BoldItalic.ttf
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-BoldItalic.woff
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-BoldItalic.woff2
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Italic.ttf
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Italic.woff
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Italic.woff2
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Light.ttf
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Light.woff
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Light.woff2
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-LightItalic.ttf
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-LightItalic.woff
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-LightItalic.woff2
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Regular.ttf
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Regular.woff
fonts-DSEG_v046/DSEG14-Classic/DSEG14Classic-Regular.woff2
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-Bold.ttf
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-Bold.woff
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-Bold.woff2
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-BoldItalic.ttf
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-BoldItalic.woff
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-BoldItalic.woff2
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-Italic.ttf
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-Italic.woff
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-Italic.woff2
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-Light.ttf
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-Light.woff
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-Light.woff2
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-LightItalic.ttf
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-LightItalic.woff
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-LightItalic.woff2
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-Regular.ttf
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-Regular.woff
fonts-DSEG_v046/DSEG14-Classic-MINI/DSEG14ClassicMini-Regular.woff2
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-Bold.ttf
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-Bold.woff
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-Bold.woff2
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-BoldItalic.ttf
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-BoldItalic.woff
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-BoldItalic.woff2
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-Italic.ttf
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-Italic.woff
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-Italic.woff2
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-Light.ttf
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-Light.woff
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-Light.woff2
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-LightItalic.ttf
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-LightItalic.woff
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-LightItalic.woff2
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-Regular.ttf
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-Regular.woff
fonts-DSEG_v046/DSEG14-Modern/DSEG14Modern-Regular.woff2
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-Bold.ttf
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-Bold.woff
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-Bold.woff2
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-BoldItalic.ttf
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-BoldItalic.woff
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-BoldItalic.woff2
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-Italic.ttf
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-Italic.woff
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-Italic.woff2
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-Light.ttf
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-Light.woff
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-Light.woff2
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-LightItalic.ttf
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-LightItalic.woff
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-LightItalic.woff2
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-Regular.ttf
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-Regular.woff
fonts-DSEG_v046/DSEG14-Modern-MINI/DSEG14ModernMini-Regular.woff2
fonts-DSEG_v046/DSEG7-7SEGG-CHAN/DSEG7SEGGCHAN-Regular.ttf
fonts-DSEG_v046/DSEG7-7SEGG-CHAN/DSEG7SEGGCHAN-Regular.woff
fonts-DSEG_v046/DSEG7-7SEGG-CHAN/DSEG7SEGGCHAN-Regular.woff2
fonts-DSEG_v046/DSEG7-7SEGG-CHAN/DSEG7SEGGCHANMINI-Regular.ttf
fonts-DSEG_v046/DSEG7-7SEGG-CHAN/DSEG7SEGGCHANMINI-Regular.woff
fonts-DSEG_v046/DSEG7-7SEGG-CHAN/DSEG7SEGGCHANMINI-Regular.woff2
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Bold.ttf
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Bold.woff
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Bold.woff2
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-BoldItalic.ttf
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-BoldItalic.woff
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-BoldItalic.woff2
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Italic.ttf
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Italic.woff
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Italic.woff2
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Light.ttf
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Light.woff
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Light.woff2
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-LightItalic.ttf
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-LightItalic.woff
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-LightItalic.woff2
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Regular.ttf
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Regular.woff
fonts-DSEG_v046/DSEG7-Classic/DSEG7Classic-Regular.woff2
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-Bold.ttf
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-Bold.woff
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-Bold.woff2
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-BoldItalic.ttf
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-BoldItalic.woff
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-BoldItalic.woff2
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-Italic.ttf
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-Italic.woff
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-Italic.woff2
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-Light.ttf
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-Light.woff
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-Light.woff2
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-LightItalic.ttf
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-LightItalic.woff
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-LightItalic.woff2
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.ttf
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.woff
fonts-DSEG_v046/DSEG7-Classic-MINI/DSEG7ClassicMini-Regular.woff2
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-Bold.ttf
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-Bold.woff
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-Bold.woff2
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-BoldItalic.ttf
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-BoldItalic.woff
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-BoldItalic.woff2
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-Italic.ttf
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-Italic.woff
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-Italic.woff2
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-Light.ttf
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-Light.woff
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-Light.woff2
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-LightItalic.ttf
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-LightItalic.woff
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-LightItalic.woff2
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-Regular.ttf
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-Regular.woff
fonts-DSEG_v046/DSEG7-Modern/DSEG7Modern-Regular.woff2
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-Bold.ttf
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-Bold.woff
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-Bold.woff2
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-BoldItalic.ttf
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-BoldItalic.woff
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-BoldItalic.woff2
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-Italic.ttf
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-Italic.woff
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-Italic.woff2
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-Light.ttf
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-Light.woff
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-Light.woff2
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-LightItalic.ttf
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-LightItalic.woff
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-LightItalic.woff2
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-Regular.ttf
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-Regular.woff
fonts-DSEG_v046/DSEG7-Modern-MINI/DSEG7ModernMini-Regular.woff2
fonts-DSEG_v046/DSEGWeather/DSEGWeather.ttf
fonts-DSEG_v046/DSEGWeather/DSEGWeather.woff
fonts-DSEG_v046/DSEGWeather/DSEGWeather.woff2
