body {
    background: #f2f2f2;
    font-family: 'Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    align-items: center;
}

#timer{
    font-family: '7-Segment Display', monospace, sans-serif;
    font-style: italic;
    background: #000000;
    font-size: 7rem;
    color: #ff0000;
    text-align: center;
    margin: 2rem;
    padding: 2rem 2rem 3rem;
    border-radius: 2rem;
    display: flex;
}

.digit{
    width: 1ch;
    padding: 0;
    margin: 0;
}

#hour1 {
    visibility: hidden;
}

#hour2 {
    visibility: hidden;
}

#hmSep {
    visibility: hidden;
}

#min1 {
    visibility: hidden;
}

#min2 {
    visibility: hidden;
}

#msSep {
    visibility: hidden;
}

#ms {
    visibility: hidden;
}

#buttons {
    display: flex;
    justify-content: center;
}

.timer-button {
    background-color: #c9d8ff;
    border: none;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem 4rem;
    margin: 2rem;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 2px 2px 10px rgba(58, 51, 51, 0.3);
    transition: all .2s;
}

button:hover {
    background-color: #2c3e50;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

button[disabled] {
    opacity: .5;
    cursor: default;
}

#controls {
    display: flex;
    background-color: whitesmoke;
    border-radius: 15px;
    padding: 1rem;
    box-shadow: 2px 2px 10px rgba(58, 51, 51, 0.3);
}

/* .controlRow {
    display: flex;
    justify-content: center;
} */

.control {
    display: inline;
    margin: 1rem;
}

#speedmult {
    width: 60px;
}

#font-picker + .ts-wrapper {
    width: 300px;
}

#bold-toggle {
    font-weight: bold;
}

#italic-toggle {
    font-style: italic;
}

.font-toggle {
    font-family:'Times New Roman', Times, serif;
    padding: 0.5rem 1rem;
    margin-left: 0.2rem;
    font-size: 0.9rem;
    background-color: #e0e0e0;
    border: 2px solid #999;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s;
}

.font-toggle:hover {
    background-color: #d0d0d0;
}

.font-toggle.active {
    background-color: #666666;
    color: white;
    border-color: #333333;
}

/* Dropdown arrow */
.ts-control::after {
  content: "▾";
  position: absolute;
  right: 10px;
  pointer-events: none;
  color: #555;
}

/* @media (max-width: 800px) {
    #timer{
        font-size: 4rem;
        width: 350px;
    }

    button {
        font-size: calc(20px + (30 - 20) * ((100vw - 320px) / (1200 - 320)));
        padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1200 - 320)));
    }
} */


/* @bycapwan */ 
